.main-grid {
    display: grid;
    grid-template-columns: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    padding-left: 0px;
    width: 100%;
    /* background-color: aquamarine; */
}

#item-1 {
    width: 100%;
    margin-bottom: 30px;
    background-image: url("./item-1-bg.png");
    object-fit: contain;
    background-size: 100% calc(100% + 30px) !important;
}

#item-1-pic {
    /* background-image: url("./item-1-bg.png");
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 100% calc(100% + 30px) !important;
    margin: 0px;
    padding: 0px; */
    padding-top: 5rem;
}

.text-1 {
    color: white;
    -webkit-text-stroke-color: white;

}

#earn {
    background: linear-gradient(180deg, transparent 50%, #eeb908 0);
    width: 47%;
}


img {
    width: 90%;
}

.grid-item {
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: blue; */
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    margin: 0.5rem 3rem;
}

.join-guild {
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
    margin: 10px 0px;
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 20px;
    font-size: 19px;
    position: relative;
    top: 50px;
}

.join-guild-1 {
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
    margin: 10px 0px;
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 20px;
    font-size: 19px;

}

.text-title {
    font-weight: 1000;
    font-size: 85px;
    line-height: 96px;
    width: auto;
    align-self: center;
}

.text-des {
    margin: 2rem 0px;
    width: 70%;
    font-family: Montserrat !important;
    word-spacing: 3px;
    letter-spacing: 1px;
}


.item-2 {
    margin-top: 0px;
}

#item-2-text-grid {
    display: grid;
    margin: 20px 0px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
}

.item-2-text-grid-content {
    background: linear-gradient(90deg, #f37bfe, #6e11ee);
    margin: 3px;
    width: 8rem;
    height: 5rem;
    padding: 10px;
    border-radius: 12px;

}

.item-2-pic {
    border-image: linear-gradient(90deg, #f980ff, #b348f7 44.81%, #8020f0 81.51%, #6c10ee 99.46%);
    border-image-slice: 2;
    border-style: solid;
    border-width: 6px;
    padding: 0;
    margin: 8rem 4rem;
}

.item-2-title {
    font-size: 75px;
    margin: 0px;
    line-height: 80px;
    /* text-align: center; */
}

.item-2-des {
    width: 95%;
}

.item-3-pic {
    border: none;
    margin: 3rem 4rem 0rem 0rem;
}

.item-3-des {
    margin: 0px 0px 2rem 0px;
}

.item-3-text-grid-content {
    background: #8020f0;
    margin: 3px;
    width: 8rem;
    height: 5rem;
    padding: 10px;
    border-radius: 12px;
    align-self: center;
}

.text-3 {
    align-self: center;
}

.item-5-pic {
    padding: 0;
    margin: 2rem 4rem;
}

#text-6 {
    align-self: center;
}

@media only screen and (min-width: 700px) {
    .item-22-pic {
        display: none;
    }

}

@media only screen and (max-width: 700px) {
    .grid-item {
        grid-template-columns: 100%;
    }

    #item-1 {
        background-size: 100% calc(100% + 100px) !important;
    }

    .text-des {
        width: 100%;
    }

    img {
        width: 100%;
    }

    .text {
        padding: 0px;
    }

    .item-2-title {
        font-size: 40px;
        margin: 0px;
        line-height: 60px;
        text-align: center;
    }

    #item-2-text-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        /* margin: 30px 55px; */
        justify-content: center;
    }

    .item-3-text-grid-content {
        background: #8020f0;
        margin: 3px;
        margin-left: 20px;
        width: 8rem;
        height: 5rem;
        padding: 10px;
        border-radius: 12px;
    }

    .item-2-pic {
        display: none;
        margin: 0px;
    }

    .item-5-pic {
        display: none;
        margin: 0px;
    }

    #earn {
        background: linear-gradient(180deg, transparent 50%, #eeb908 0);
        width: 79%;
    }
}