* {
  /* background-color: aqua; */
}

.outline-text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4e27af;
  font-size: 58px;
  line-height: 66px;
  color: transparent;
}

.fill-text {
  font-size: 58px;
  line-height: 66px;
  text-align: start;
  color: #4e27af;
}